* {
    Box-sizing: Border-box
}

html {
    background-image: url('img/backgroundImage.jpg');
    background-color: #000000;
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    /*font-family: 'Raleway', sans-serif;*/
    color: #FFFFFF;
}

h1  {
    border-bottom: 1px solid #FFFFFF;
    font-size: 2rem;
}

header  {
    width: 50%;
    float: left;
}

main {
    width: 50%;
    float: left;
}

.container {
    width: 500px;
    margin: 0 auto;
}
